<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zombie_up_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,126},{30,62}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{30,62}}</string>
			<key>sourceSize</key>
			<string>{38,64}</string>
		</dict>
		<key>zombie_up_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{31,62}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{31,62}}</string>
			<key>sourceSize</key>
			<string>{38,64}</string>
		</dict>
		<key>zombie_up_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,63},{31,62}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{31,62}}</string>
			<key>sourceSize</key>
			<string>{38,64}</string>
		</dict>
		<key>zombie_up_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,189},{30,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{30,62}}</string>
			<key>sourceSize</key>
			<string>{38,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zombie_up.png</string>
		<key>size</key>
		<string>{32,256}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>zombie_up.png</string>
	</dict>
</dict>
</plist>
