<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>movedicered_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,79},{76,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,12},{76,81}}</string>
			<key>sourceSize</key>
			<string>{100,105}</string>
		</dict>
		<key>movedicered_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{78,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,9},{78,86}}</string>
			<key>sourceSize</key>
			<string>{100,105}</string>
		</dict>
		<key>movedicered_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,444},{68,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,16},{68,72}}</string>
			<key>sourceSize</key>
			<string>{100,105}</string>
		</dict>
		<key>movedicered_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,576},{59,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,20},{59,64}}</string>
			<key>sourceSize</key>
			<string>{100,105}</string>
		</dict>
		<key>movedicered_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,305},{68,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,15},{68,75}}</string>
			<key>sourceSize</key>
			<string>{100,105}</string>
		</dict>
		<key>movedicered_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,156},{78,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,13},{78,79}}</string>
			<key>sourceSize</key>
			<string>{100,105}</string>
		</dict>
		<key>movedicered_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,374},{69,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,15},{69,74}}</string>
			<key>sourceSize</key>
			<string>{100,105}</string>
		</dict>
		<key>movedicered_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{78,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,9},{78,86}}</string>
			<key>sourceSize</key>
			<string>{100,105}</string>
		</dict>
		<key>movedicered_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,444},{68,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,16},{68,72}}</string>
			<key>sourceSize</key>
			<string>{100,105}</string>
		</dict>
		<key>movedicered_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,576},{59,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,20},{59,64}}</string>
			<key>sourceSize</key>
			<string>{100,105}</string>
		</dict>
		<key>movedicered_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,305},{68,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,15},{68,75}}</string>
			<key>sourceSize</key>
			<string>{100,105}</string>
		</dict>
		<key>movedicered_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,156},{78,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,13},{78,79}}</string>
			<key>sourceSize</key>
			<string>{100,105}</string>
		</dict>
		<key>movedicered_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,235},{69,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,15},{69,75}}</string>
			<key>sourceSize</key>
			<string>{100,105}</string>
		</dict>
		<key>movedicered_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,513},{62,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,18},{62,68}}</string>
			<key>sourceSize</key>
			<string>{100,105}</string>
		</dict>
		<key>movedicered_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,79},{76,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,12},{76,81}}</string>
			<key>sourceSize</key>
			<string>{100,105}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>movedicered.png</string>
		<key>size</key>
		<string>{128,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>movedicered.png</string>
	</dict>
</dict>
</plist>
